@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/None-layout.cshtml";
}
@model IEnumerable<DonDatHang>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vua Đệm </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/feather/feather.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/admin/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/img/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title d-flex justify-content-center align-items-center mb-0">Bảng đơn hàng</h4>
                                <hr />
                                @if (Model == null || Model.Count() == 0)
                                {
                                    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
                                        <div class="alert alert-secondary text-center">
                                            Chưa có gì ở đây
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.MaKhNavigation.TenKhach)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.NgayMua)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TongTien)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DaXuLy)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            @if (Model != null)
                                            {
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.MaKhNavigation.TenKhach)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NgayMua)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TongTien)đ
                                                            </td>
                                                            @{
                                                                string cont, cls;
                                                                if (item.DaXuLy)
                                                                {
                                                                    cont = "Đã xử lý";
                                                                    cls = "badge badge-success";
                                                                }
                                                                else
                                                                {
                                                                    cont = "Đang chờ xử lý";
                                                                    cls = "badge badge-warning";
                                                                }
                                                            }
                                                            <td>
                                                                <label class="@cls">@cont</label>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.MaDdh">Chi tiết</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            }
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>

