@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<DanhMucHang>
@{
    foreach (DanhMucHang danhMucHang in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="/img/hang/@(danhMucHang.ChiTietHangs.First().AnhHangs.First().TenAnh)" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">@(danhMucHang.TenHang)</h6>
                    <div class="d-flex justify-content-center">
                        <h6>@(((double)danhMucHang.ChiTietHangs.First().DonGiaBan).ToString("#,##"))đ</h6>
                        <h6 class="text-muted ml-2"><del>@(Math.Ceiling((double)danhMucHang.ChiTietHangs.First().DonGiaBan / 0.8).ToString("#,##"))đ</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a asp-controller="Detail" asp-action="Index" asp-route-id="@danhMucHang.MaHang" class="btn btn-sm text-dark p-0 mx-auto"><i class="fas fa-eye text-primary"></i>Xem chi tiết</a>
                </div>
            </div>
        </div>
    }
}
<div class="col-12 pb-1">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-3">
            @{
                if (ViewBag.pagenum > 0)
                {
                    <li class="page-item @(ViewBag.current == 1 ?  "active":"")" page="1"
                        keyword="@(ViewBag.search != null ? ViewBag.search : "")"
                        sort="@(ViewBag.sort !=null? ViewBag.sort:"")"
                        id="@(ViewBag.id!=null? ViewBag.id:"")">
                        <a class="page-link ">1</a>
                    </li>
                    @for (int i = new[] { ViewBag.current - 2, 2 }.Max(); i <= new[] { ViewBag.current + 2, ViewBag.pagenum - 1 }.Min(); i++)
                    {
                        <li class="page-item @(ViewBag.current == i ? "active":"")" page="@i"
                            keyword="@(ViewBag.search != null ? ViewBag.search : "")"
                            sort="@(ViewBag.sort !=null? ViewBag.sort:"")"
                            id="@(ViewBag.id!=null? ViewBag.id:"")">
                            <a class="page-link ">@i</a>
                        </li>
                    }
                    if (ViewBag.pagenum > 1)
                    {
                        <li class="page-item @(ViewBag.current==ViewBag.pagenum ? "active":"" )" page="@ViewBag.pagenum"
                            keyword="@(ViewBag.search != null ? ViewBag.search : "")"
                            sort="@(ViewBag.sort !=null? ViewBag.sort:"")"
                            id="@(ViewBag.id!=null? ViewBag.id:"")">
                            <a class="page-link ">@ViewBag.pagenum</a>
                        </li>
                    }
                }
            }
        </ul>
    </nav>
</div>